{%extends 'main.html'%}

{%block content%}
<h1>HOME Template</h1>
<br>
<a href="{%url 'create-room'%}">Create Room</a>
<a href="{%url 'delete-room'%}">Delete</a>
<br><br><br>
<div>
    
    <div>
        {% for room in rooms %}
        <div>
            <a href="{% url 'update-room' room.id %}">Edit</a>
            <span>@{{room.host.username}}</span>
            <h4>{{room.id }}-- <a href="{% url 'room' room.id %}">{{room.name}}</a></h4>  
            <small>{{room.topic.name}}</small>
            <hr>
        </div>
        {% endfor %}
    </div>
</div>
{%endblock content%}